.body {
  width: 60%;
  margin-left: 30%;
  background-image: url('./images/image.jpg');
}
.token {
  font-size: 20px;
  margin-left: 14px
}
.game {
  margin-top: 5%;
  margin-left: 35%;
  width: 30%;
}
.scoreBoard {
  float:right;
  margin-right: 20%
}
.buttons {
  margin-top: 3%;
  float: left;
  margin-left: 3%
}
.title{
  width: 40%;
  margin-left: 32%;
  font-size: 30px
}
.leaderBoard {
  margin-top: 5%;
  width: 50%;
  margin-left: 25%
}
.link {
  margin-top: 15%;
  margin-left: 3%
}
.backButton {
  margin-left: 70%
}
