.body {
  width: 60%;
  margin-left: 30%
}
.token {
  font-size: 20px;
  margin-left: 14px
}
.game {
  margin-top: 5%;
  margin-left: 35%;
  width: 30%;
}
.scoreBoard {
  float:right;
  margin-right: 20%
}
.buttons {
  margin-top: 3%;
  float: left;
  margin-left: : 5%
}
